# If you'd like to create some additional specs, and need to make requests of
# the Trello API as part of your testing, copy this file to spec/credentials.rb
# and modify the values as you need.

def key
  "YOUR_TRELLO_DEVELOPER_PUBLIC_KEY"
end

def token
  "YOUR_MEMBER_TOKEN"
end

def username
  "YOUR_TRELLO_USERNAME"
end
